h1 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

h2 {
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

ul {
    list-style-type: none;
    padding-left: 30%;
    margin-bottom: 20px;
}

li {
    margin-bottom: 5px;
    float: left;
    width: 180px;
    margin-right: 5px;
    cursor: pointer;
    background-color: #06da45af;
    border-radius: 5px;
    text-align: center;
    padding: 2px;
}

li:hover {
    box-shadow: 2px 2px 2px #181515a8;
    background-color: aqua;
}

a {
    text-decoration: none;
    color: black;
    display: block;
    text-align: center;
    padding: 2px;
}

img {
    width: auto;
    height: auto;
}

body #contenedor {
    position: relative;
    margin-top: 80px;
    text-align: center;
}

#caja {
    border: 1px solid;
    margin-top: 20px;
    margin-bottom: 20px;
    width: 500px;
    margin-left: auto;
    margin-right: auto;
}

#siguiente {
    margin-left: 47%;
}